@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8fafb;
}


.grid-container {
  display: grid;
  width: 100vw;
  height: 80vh;
  grid-template-columns: 1fr;
}

.login-box {

  display: grid;
  grid-column: 1;

  max-width: 35%;
  height: 550px;

  color: #212529;
  box-sizing: border-box;
  padding: 70px 30px;

  top: 6%;
  left: 13.6%;
  position: absolute;

  box-sizing: border-box;

}

.login-box .login-text {
  color: #b3b3b3;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 25px;
}

.login-box h1 {
  margin: 0;
  padding: 0 0 7.5px;
  font-size: 28px;
  font-weight: 500;
}


.login-box label {
  margin: 0;
  padding: 0;
  color: #888;
}

.login-box input[type="text"],
.login-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #b3b3b3;
  background: transparent;
  outline: none;
  height: 40px;
  color: #888;

  font-weight: 300;
  font-size: 12px;

  width: 100%;
  margin-bottom: 25px;
}

.login-box input[type="submit"] {
  border: none;
  outline: none;
  height: 55px;
  background: #38d39f;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;

  width: 100%;
  margin-bottom: 30px;
}

.login-box input[type="submit"]:hover {
  cursor: pointer;
  background: #24a178;
}

.login-box a {
  text-decoration: underline;
  color: #888;
}

.login-box a:hover {
  text-decoration: none;
}

.check {
  display: flex;
  justify-content: space-between;
  margin-bottom: 41px;
  font-size: 15px;
}

.svg {
  display: grid;
  grid-column: 2;
  justify-content: end;

  top: 17%;
  right: 10%;
  position: absolute;
  max-width: 40%;


  /* margin-top: 70px; */
}

.svg img{
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 10px 10px ;
  background-color: #cbcbcb;
  border-bottom: 1px solid #444444;
  box-shadow: 2px 2px aliceblue;
  margin: 0px
}
.navbar > li {
  display: flex;
  align-items: center;
}
.logo{
  height: 50px;
}

.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto;
  color: #cbcbcb;
  background: #444;
  background: #333;
  background: linear-gradient(to bottom,#485054 0,#333738 100%);
  border-top: 1px solid #333738;
}
.footer-content > ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  padding: 10px 10px 0px 10px;
}
.footer-img{
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-bottom: 20px;
}

ul>h3{
  margin: 5px;
}
.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  background: transparent;
  color: #888;
  font-weight: 300;
  font-size: 12px;
}
.formulario > button{

  border: none;
  outline: none;
  height: 55px;
  width: 150px;
  background: #38d39f;
  color: #fff;
  font-size: 16px;
  font-family: Roboto;
  border-radius: 5px;
}
.contact-main{
  height: 70vh;
}
